@import "../../styles/colorPalette.scss";

.icon{
    color: $primary-color; 
}

.fullTextSearch{
    width: 100%;
    
    input{        
        width: 100%;
    }
}

.filterButton{
    margin-left: 10px;
    color: $secondary-color; 
    background-color: $primary-color; 
    border: none;
}