.PanAndZoomImageContainer {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
.PanAndZoomImageImage {
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }