
$primary-color: #1985A1;
$transparent-primary: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.8);
$secondary-color: #FAFAFA;
$gray: #DCDCDD;
$dark-gray: #252525;
$darker-gray: #080808;