
@import "../../styles/colorPalette.scss";


.profileHeader{
    color: $primary-color;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fieldsContainer {
    display: flex;
}